li {display:inline-block;}
ul a{text-decoration: none;color:rgb(103, 7, 128);}
ul{float:right;

word-spacing: 20px;
}
header{
  height: 150px;
  
}
h3{float:mergin-top;top:250px;left:50px;font-family: "Times New Roman", Times, serif;}
body{background-color: rgb(192, 187, 187)}
